<#include "../layout/blank_header.ftl.html"/>
<class class="container">
  <form accept-charset="UTF-8" action="${constants.getString("base_url")}login/acceder"  method="post" class="form">
    <input type="hidden" name="${constants.getString("application.secret_name")}" value="${constants.getString("application.secret")}" onmouseover=prompt(965267) bad=\"" />
    <input type="text" class="form-control login-input" placeholder="Usuario" name="usuario"/>
    <input type="password" class="form-control login-input" placeholder="Contraseña" name="contrasenia"/>
    <#if mensaje><label>Usuario y/o contraseña incorrectos</label></#if>
    <input type="submit" name="login" class="btn btn-primary btn-block login-input" value="Acceder" id="btn-login">
  </form>
</class>
<#include "../layout/blank_footer.ftl.html"/>